@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  font-size: 20px;
  padding: 1px;
  margin: 30px auto;
  width: 8%;
  border-radius: 10px;
}

.numero {
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: black;
}

.bot {
  transform: rotate(180deg);
}
